@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

body {
  background-color: #31473A;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; 4px solid red; */
}


.square {
  background-color: #EDF4F2;
  width: 500px;
  height: 550px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* border: 4px solid red; */
}


.signupSquare {
  background-color: #EDF4F2;
  width: 500px;
  height: 700px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* border: 4px solid red; */

}
.title {
  /* border: 4px solid red; */
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  margin: 10px;
}

.square h3 {
  /* border: 4px solid red; */
  opacity: 0.4;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.square h4 {
  /* border: 4px solid red; */
  margin: 60px;
  margin-top: 120px;
}

.signupSquare h3 {
  /* border: 4px solid red; */
  opacity: 0.4;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.signupSquare h4 {
  /* border: 4px solid red; */
  margin: 60px;
  margin-top: 120px;
}

.inputForm {
  /* border: 4px solid red; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.emailLabel {
  display: flex;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 60px;
  /* margin-bottom: 0px; */
  
}

.emailLabel input {
  /* border: 4px solid rgb(0, 0, 0); */
  border: 4px solid  #AEAEAE;
  margin-top: 9px;
  width: 390px;
  height:35px;
  font-family: 'Ledger', serif;
  font-size: 18px;
  font-weight: 400;
  
}

.emailLabel ::placeholder {
  color: #AEAEAE;
  background-color: #EDF4F2;
  padding: 25px;
  border-radius: 8px;
  font-family: 'Ledger', serif;
  font-size: 20px;
  
}

.signinButton {
  background-color: #4A8060;
  color: #EDF4F2;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 25px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  border-radius: 20px;
  width: 400px;
  height: 40px;
  margin-left: 60px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.noPass {
  border: 4pex solid rgb(0, 0, 0);
  color: #31473A;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 25px;

}

.half1  {
  
  margin-bottom: 150px;
  color: #7C8363;
   font-size: 20px;
  margin-left: 110px;
   
}

.half2  {
   
  color: #31473A;
  text-decoration: none;
     
}

.signupOption {
   width: 400px;
  height: 100px;
  border-radius: 80px;
  background-color: #EDF4F2;
  cursor: pointer;
  margin-left: 320px;
 }

.signupOption h1 {
  color: #4A8060;
  text-align: center;
  align-items: center;
  padding-top: 10px;

}

.signinOption {
  margin-left: 320px;
  cursor: pointer;
   width: 400px;
  height: 100px;
  border-radius: 80px;
  background-color: #EDF4F2;
  margin-top: 70px;
  /* border: none; */
}

.signinOption h1 {
  color: #4A8060;
 
  text-align: center;
  align-items: center;
  padding-top: 10px;

}

.welcome {
   
  width: 210px;
  height: 100px;
 
  padding-top: 50px;
  margin-left: 400px;
  color: #EDF4F2;

}